@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand: #2563eb;
  --vp-c-brand-light: #3b82f6;
  --vp-c-brand-lighter: #60a5fa;
  --vp-c-brand-dark: #1d4ed8;
  --vp-c-brand-darker: #1e40af;
}